body {
  color: #222;
}
h1 {
  font-size: 28px;
  font-weight: 600;
  font-family: 'PT Sans', Sans-Serif;
}
p {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Orienbaum', Serif;
}
button {
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  background-color: #4B9F18;
  border: none;
  padding: 18px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.icon-globe {
  fill: #39B00F;
  width: 112px;
  height: 112px;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4ubGVzcyIsIm1haW4uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUVBO0VBQ0MsWUFBQTtDQ0RBO0FESUQ7RUFDQyxnQkFBQTtFQUNBLGlCQUFBO0VBQ0EsbUNBQUE7Q0NGQTtBREtEO0VBQ0MsZ0JBQUE7RUFDQSxpQkFBQTtFQUNBLGdDQUFBO0NDSEE7QURNRDtFQUNDLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxZQUFBO0VBQ0EsMEJBQUE7RUFDQSxhQUFBO0VBQ0EsY0FBQTtFQUNBLGdCQUFBO0VBQ0EsaUNBQUE7RUFBQSw0QkFBQTtFQUFBLHlCQUFBO0NDSkE7QURPRDtFQUNDLHFCQUFBO0VBQUEsc0JBQUE7RUFBQSxxQkFBQTtFQUFBLGNBQUE7Q0NMQTtBRFFEO0VBQ0MsY0FBQTtFQUNBLGFBQUE7RUFDQSxjQUFBO0NDTkEiLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAY29sb3I6ICMyMjI7XHJcblxyXG5ib2R5IHtcclxuXHRjb2xvcjogQGNvbG9yO1xyXG59XHJcblxyXG5oMSB7XHJcblx0Zm9udC1zaXplOiAyOHB4O1xyXG5cdGZvbnQtd2VpZ2h0OiA2MDA7XHJcblx0Zm9udC1mYW1pbHk6ICdQVCBTYW5zJywgU2Fucy1TZXJpZjtcclxufVxyXG5cclxucCB7XHJcblx0Zm9udC1zaXplOiAxOHB4O1xyXG5cdGZvbnQtd2VpZ2h0OiA2MDA7XHJcblx0Zm9udC1mYW1pbHk6ICdPcmllbmJhdW0nLCBTZXJpZjtcclxufVxyXG5cclxuYnV0dG9uIHtcclxuXHRmb250LXNpemU6IDE2cHg7XHJcblx0Zm9udC13ZWlnaHQ6IDYwMDtcclxuXHRjb2xvcjogI0ZGRjtcclxuXHRiYWNrZ3JvdW5kLWNvbG9yOiAjNEI5RjE4O1xyXG5cdGJvcmRlcjogbm9uZTtcclxuXHRwYWRkaW5nOiAxOHB4O1xyXG5cdGN1cnNvcjogcG9pbnRlcjtcclxuXHR0cmFuc2l0aW9uOiAwLjJzIGVhc2UtaW47XHJcbn1cclxuXHJcbi5ibG9jayB7XHJcblx0ZGlzcGxheTogZmxleDtcclxufVxyXG5cclxuLmljb24tZ2xvYmUge1xyXG5cdGZpbGw6ICMzOUIwMEY7XHJcblx0d2lkdGg6IDExMnB4O1xyXG5cdGhlaWdodDogMTEycHg7XHJcbn1cclxuXHJcbiIsImJvZHkge1xuICBjb2xvcjogIzIyMjtcbn1cbmgxIHtcbiAgZm9udC1zaXplOiAyOHB4O1xuICBmb250LXdlaWdodDogNjAwO1xuICBmb250LWZhbWlseTogJ1BUIFNhbnMnLCBTYW5zLVNlcmlmO1xufVxucCB7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgZm9udC1mYW1pbHk6ICdPcmllbmJhdW0nLCBTZXJpZjtcbn1cbmJ1dHRvbiB7XG4gIGZvbnQtc2l6ZTogMTZweDtcbiAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgY29sb3I6ICNGRkY7XG4gIGJhY2tncm91bmQtY29sb3I6ICM0QjlGMTg7XG4gIGJvcmRlcjogbm9uZTtcbiAgcGFkZGluZzogMThweDtcbiAgY3Vyc29yOiBwb2ludGVyO1xuICB0cmFuc2l0aW9uOiAwLjJzIGVhc2UtaW47XG59XG4uYmxvY2sge1xuICBkaXNwbGF5OiBmbGV4O1xufVxuLmljb24tZ2xvYmUge1xuICBmaWxsOiAjMzlCMDBGO1xuICB3aWR0aDogMTEycHg7XG4gIGhlaWdodDogMTEycHg7XG59XG4iXX0= */
