@card-radius: 6px;
@card-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);

@white: #FFFFFF;
@blue:#037ec6;




@red-title: #b51919; // background color for label//
@color-font-title: #FFF; //font color for label 
@font-size-general: 16px; //
@artical-bgr-clr:#E0E9EE; // background color for notes
@artical-font-clr: #38505E; //font color for notes//
@blog-post-link: #555555; // base link color
@blog-post-link-active: #b4bbc2; // link color for hover, active and focus;
@arctic-bg: #F6F7F8;
@dark-text: #383737;



