
.email_busy {
	width: 300px;
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 30px;
	margin-bottom: 15px;
	padding: 0;
background-color: @artical-bgr-clr;
font-size: @font-size-general;

-webkit-border-radius: 5px;
	        border-radius: 5px;
}

.email_busy .title {
	height: 45px;
	padding-left: 15px;
	padding-top: 10px;
	margin: 0;
	
	-webkit-border-top-left-radius: 5px;
	        border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 5px;
	        border-top-right-radius: 5px;
	
background-color:@red-title ;	
color: @color-font-title; 


}
.email_busy .article {
padding-top: 10px;
	padding-left: 15px;

	color: @artical-font-clr;
	
}

.email_busy .article p {
	
	margin: 0;
	padding-bottom: 17px;
}

.email_busy .article p a {
	
	color: @artical-font-clr;
}
