header.header
	.header-top
		+logo('Digital Lifestyle', 'Сайт IT специалиста')
		.header-login
			ul.header-login__list
				+header-login-link('Регистрация', '#')
				+header-login-link('Вход', '#')
	.header-bottom
		.header-nav
			ul.header-nav__list
				+header-link('Главная', '#')
				+header-link('Обо мне', '#')(target="_blank")
				+header-link('Работы', '#')
				+header-link('Блог', '#')
				+header-link('Контакты', '#')
