footer.footer
	.container
		.row
			.col-sm-5
				p &copy; Юриий Ключевский
				p Создано с #[i.fa.fa-heart] в #[a(href="http://webcademy.ru/") #[strong WebCademy.ru]] в 2018 году
			.col-sm-3
				p.footer-nav
					+link("Главная", "#").footer-nav__item
					+link("Обо мне", "#").footer-nav__item
					+link("Работы", "#").footer-nav__item
					+link("Блог", "#").footer-nav__item
					+link("Контакты", "#").footer-nav__item
			.col-sm-4
				p.footer__icons
					a(href="#" target="blank")
						i(class="fab fa-vk")
					a(href="#" target="blank")
						i(class="fab fa-twitter")
					a(href="#" target="blank")
						i(class="fab fa-youtube")
					a(href="#" target="blank")
						i(class="fab fa-instagram")
					a(href="#" target="blank")
						i(class="fab fa-facebook")