.left-panel
	.left-panel__section
		.title-2 UI-kit и HTML фреймворк
		p 
			strong Документация
		.left-panel-nav
			+linkLeftPanel("Кнопки", "ui/buttons.html")
			+linkLeftPanel("Типографика", "ui/typhography.html")
			+linkLeftPanel("Формы", "ui/forms.html")
			+linkLeftPanel("Карточки", "ui/cards.html")
			+linkLeftPanel("Вспомогательные элементы", "ui/elements.html")

			+linkLeftPanel("Бейджи", "ui/badges.html")
			+linkLeftPanel("Аватарки", "ui/avatars.html")
			+linkLeftPanel("Ошибки", "ui/errors.html")
			+linkLeftPanel("Комментарии", "ui/comments.html")
			+linkLeftPanel("Добавить комментарий", "ui/comment-add.html")
			+linkLeftPanel("Комментарий регистрация", "ui/comment-register.html")
			+linkLeftPanel("Пост в блоге ", "ui/blog-post.html")

			+linkLeftPanel("Шапка панели администратора", "admin-head.html")
			+linkLeftPanel("Вход на сайт", "login.html")
			+linkLeftPanel("Регистрация", "registration.html")
			//- +linkLeftPanel("text", "link")
			//- +linkLeftPanel("text", "link")