.left-panel
	.left-panel__section
		.title-2 UI-kit и HTML фреймворк
		p 
			strong Документация
		.left-panel-nav
			+linkLeftPanel("Кнопки", "ui/buttons.html")
			+linkLeftPanel("Типографика", "ui/typhography.html")
			+linkLeftPanel("Формы", "ui/forms.html")
			+linkLeftPanel("Карточки", "ui/cards.html")
			
			+linkLeftPanel("Вспомогательные элементы", "elements.html")
			+linkLeftPanel("Пост в блоге ", "blog-post.html")
			+linkLeftPanel("Шапка панели администратора", "admin-head.html")
			+linkLeftPanel("Комментарии", "comments-blog.html")
			+linkLeftPanel("Оставить комментарий", "comments.html")
			+linkLeftPanel("Карточка - Пост в блоге ", "post-card.html")
			+linkLeftPanel("Карточка - Портфолио ", "portfolio-card.html")
			+linkLeftPanel("Вход на сайт", "login.html")
			+linkLeftPanel("Регистрация", "registration.html")
			//- +linkLeftPanel("text", "link")
			//- +linkLeftPanel("text", "link")