.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк
		
	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Кнопки", "ui/buttons.html")
			+linkLeftPanel("Типографика", "ui/typhography.html")
			+linkLeftPanel("Формы", "ui/forms.html")
			+linkLeftPanel("Карточки", "ui/cards.html")
			+linkLeftPanel("Бейджи", "ui/badges.html")
			+linkLeftPanel("Аватарки", "ui/avatars.html")
			+linkLeftPanel("Ошибки", "ui/errors.html")
		
	.left-panel__section
		p.strong Секции
		.left-panel-nav
		
			+linkLeftPanel("Добавить комментарий", "ui/comment-add.html")
			+linkLeftPanel("Комментарии", "ui/comments.html")
			+linkLeftPanel("Комментарий регистрация", "ui/comment-register.html")
			+linkLeftPanel("Пост в блоге ", "ui/blog-post.html")
			+linkLeftPanel("Сообщение от пользователя", "ui/user-message.html")
			//- +linkLeftPanel("Вспомогательные элементы", "ui/elements.html")

			+linkLeftPanel("Шапка администратора", "ui/header-admin.html")
			+linkLeftPanel("Шапка общая", "ui/header.html")
			+linkLeftPanel("Подвал сайта", "ui/footer.html")
		
	.left-panel__section
		p.strong Страницы
		.left-panel-nav

			+linkLeftPanel("Вход на сайт", "login.html")
			+linkLeftPanel("Регистрация", "registration.html")
			//- +linkLeftPanel("text", "link")
			//- +linkLeftPanel("text", "link")