.left-panel
	.left-panel__section
		.title-2 UI-kit и HTML фреймворк
		
	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Типографика", "typhography.html")
			+linkLeftPanel("Формы", "forms.html")
			+linkLeftPanel("Карточки", "cards.html")
			+linkLeftPanel("Бейджи", "badges.html")
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Ошибки", "errors.html")
		
	.left-panel__section
		p.strong Секции
		.left-panel-nav
		
			+linkLeftPanel("Комментарии", "comments.html")
			+linkLeftPanel("Добавить комментарий", "comment-add.html")
			+linkLeftPanel("Комментарий регистрация", "comment-register.html")
			+linkLeftPanel("Пост в блоге ", "blog-post.html")
			//- +linkLeftPanel("Вспомогательные элементы", "elements.html")

			+linkLeftPanel("Шапка администратора", "header-admin.html")
			+linkLeftPanel("Шапка общая", "header.html")
			+linkLeftPanel("Подвал сайта", "footer.html")
		
	.left-panel__section
		p.strong Страницы
		.left-panel-nav

			+linkLeftPanel("Вход на сайт", "login.html")
			+linkLeftPanel("Регистрация", "registration.html")
			//- +linkLeftPanel("text", "link")
			//- +linkLeftPanel("text", "link")