@radius: @card-radius;
@shadow: @card-shadow;
@background: @white;

.card {
	border: none;
	border-radius: @radius;
	background-color: @background;
	box-shadow: @shadow;
	padding: 20px;
}

.card > .title-1, .card > .title-2, .card > .title-3, .card > .title-4, .card > .title-5, .card > .title-6 {
	margin-top: 0;
}
