.comment {
    background-color: #eef0f2;
    padding: 20px;
    border-radius: 6px;
    display: flex;

    .avatar_small {
        margin-right: 15px;
    }

    .content {
        flex-grow: 1;
        font-size: 16px;
        line-height: 22px;

        .head {
            margin-bottom: 10px;
           
            
        }
    }
}


.comment__name {
    font-weight: bold;
    margin-right: 15px;
    margin-bottom: 10px;
}

.comment__date {
    font-size: 14px;
    color: #9b9b9b;

    .fa-clock {
        margin-right: 5px;
    }
}