extends layouts/ui-layout.pug

block variables
	- var title = "Admin panel head"
	- var pageClass = "admin-head"



block content
		

		nav.admin-navbar.container-fluid
			.row

				.avatar_small__frame
						+avatar_small('../img/foto-small-2.png')

				.admin__title.d-inline-flex.flex-column

					
					.admin__name.pt-2
						p Юрий Ключевский
					.admin__badge.mt-2
						+user_badge("Администратор")

				
				.admin__navigation.navbar.d-flex

					ul.d-flex
							li
								a(href="#")
									span
										i.fa.fa-plus-circle.fa-lg(aria-hidden="true")
										| Пост
							li
								a(href="#")
									span
										i.fa.fa-plus-circle.fa-lg(aria-hidden="true")
										| Работа
							li
								a(href="#")
									span
										i.fas.fa-edit.fa-lg
										| Обо мне
							li
								a(href="#")
									span
										i.fas.fa-edit.fa-lg
										| Контакты
							li
								a(href="#")
									span
										i.fa.fa-envelope.fa-lg(aria-hidden="true")
										| Сообщения
							li.ml-auto
								a(href="#")
									span
										i.fas.fa-sign-out-alt.fa-lg
										| Выход








