extends layouts/ui-layout.pug

block variables
	- var title = "Admin_head"
	

block content
		.admin_head.navbar
			.admine_head__title.d-inline-flex
				a(class="avatar_small.navbar-brand" href="#")
					+avatar_small("img/foto-small-2.png")
				.d-flex.align-items-start.flex-column.pt-2.pl-3
					.admine_head__name.p-0.mp-0
						p Юрий Ключевский

					.admine_head__badge.m-0.p-0
						+user_badge("Администратор")
				.nav
					ul(class="admine_head__navigation")
							li(class="nav-item")
								a(href='#' class="nav-link d-flex")
									i(class="fa fa-plus-circle" aria-hidden="true") 
									| Пост
								a(href='#' class="nav-link d-flex")
									i(class="fa fa-plus-circle" aria-hidden="true") 
									| Работа
								a(href='#' class="nav-link d-flex")
									i(class="fa fa-pencil-square" aria-hidden="true")
									| Обо мне
								a(href='#' class="nav-link d-flex")
									i(class="fa fa-pencil-square" aria-hidden="true")
									| Контакты
							





			
					
				