extends layouts/ui-layout.pug

block variables
	- var title = "Post"
	- var post_title = "Национальный парк Йосемити"
	- 
		var post_links = [
			{name: 'Емельян Казаков', link: '#', class_name:'name'},
			{name: 'Путешествия', link: '#', class_name:'event'},
			{name: '16 марта 2017', link: '#', class_name:'date'},
			{name: '2 комментария', link: '#', class_name:'comments'},
		
			];

block content
	.container
		.post-header
			h1.
				#{post_title}

	
		ul(class="post_list")
			each item in post_links

				li(class="post_links")
					a(href=item.link,class= item.class_name)= item.name
				

	
		.park-image

	
		.text__park_description
			p Парк находится в горах #[a(href="#") Сьерра-Невада] на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.
			p Центром парка является долина #[a(href="#") Йосемити], круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.

