extends layouts/ui-layout.pug

block variables
    - var title ="Оставить комментарий"

block content
     .container
        .title Оставить комментарий
            h1.heading-1 Оставить комментарий
        .comment
            +avatar_small('img/foto-small-2.png')
            .content
                .head
                    span.name Юрий Ключевский
                +empty_comment_error('Комментарий не может быть пустым.')
                +textarea(textarea, work-description, 'Присоединиться к обсуждению...')
                +button('Опубликовать', 'regular')