extends layouts/main.pug

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.user-content
		ul
			li
				a(href='ui-buttons.html') UI-Buttons - Кнопки

			li
				a(href='ui-elements.html') UI-elements - Вспомагательные элементы

			li
				a(href='blog-post.html') Пост в блоге 

			li
				a(href='ui-typhography.html') UI-typhography - Типографика

			li
				a(href='ui-forms.html') UI-forms - Формы

			li
				a(href='admin-head.html') Admin panel head - Шапка понели администратора
			
			li
				a(href='comments-blog.html') Comments-blog - Комментарии

			li

				a(href='post-card.html') Post-card - Карточка - Пост в блоге 

			li
				a(href='portfolio-card.html') Portfolio-card - Карточка - Портфолио 

			li
				a(href='comments.html') Оставить комментарий
