extends layouts/main.pug

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	ul
		li
			a(href='ui-buttons.html') UI-Buttons - Кнопки

		li
			a(href='ui-elements.html') UI-elements - Вспомагательные элементы