extends layouts/ui-layout.pug
include mixins/_mixins.pug

block variables
	- var title = "Portfollo Card"

block content
	+portfolio-card("../img/portfolio-preview.png", "Верстка Landing Page" ,"#")

