extends layouts/ui-layout.pug

block variables
	- var title = "UI blog enter"

block content
	.section-ui
		h1 UI blog enter

	.section-ui
		.blog-enter
			a(href="#") Войдите
			|  или 
			a(href="#") зарегистрируйтесь#[br]
			| чтобы оставить комментарий
			
			
	