extends layouts/ui-layout.pug

block variables
		- var title ="UI elements"

block content
	h1 UI-elements (Вспомогательные элементы)
	+user_badge("Пользователь")
	+checkbox("Запомнить меня")
	+avatar("img/photo-big.jpg")
	+avatar_small("img/foto-small-2.jpg")

	//- +error("Введите email")
	+error("Комментарий не может быть пустым.")

	+error("Данный email уже занят")
		p Используйте другой email чтобы создать новый аккаунт.
		p Или воспользуйтесь 
			a(href="#") восстановлением пароля
			| , чтобы войти на сайт.

	+error("Неверный email или пароль")
		p Введите верные данные для входа или воспользуйтесь 
			a(href="#") восстановлением пароля, 
			| чтобы войти на сайт.


	// -var emailError = ['Данный email b уже занят', '<p>Используйте другой email чтобы создать новый аккаунт</p><p>Или воспользуйтесь <a href="#">восстановлением пароля,</a> чтобы войти на сайт.<p>'];

	//- +errorWithDesc(emailError[0], emailError[1] )
	//- +errorWithDesc("Неверный email или пароль")
