extends layouts/ui-layout.pug

block variables
<<<<<<< HEAD
		- var title ="UI elements"

block content


	h1 UI-elements (Вспомогательные элементы)


	+user_badge("Пользователь")
	+checkbox("Запомнить меня")
	+avatar("img/photo-big.jpg")
	+avatar_small("img/foto-small-2.jpg")
=======
	- var title = "UI buttons"

block content
	h1 UI-elements (Вспомогательные элементы)
	+user_badge("Пользователь")
	+checkbox("Запомнить меня")
	+avatar("img/photo-big.png")
	+avatar_small("img/foto-small-2.png")
>>>>>>> 04647aa6b8c4e9b2869b306143892fa11738de2d
	+input_email_error("Введите email")
	+empty_comment_error("Комментарий не может быть пустым.")
	+email_busy("Данный email уже занят")
	+wrong_email("Неверный email или пароль")
<<<<<<< HEAD






=======
>>>>>>> 04647aa6b8c4e9b2869b306143892fa11738de2d
