include mixins/_mixins.pug

doctype html

html(lang="ru-RU")
head
meta(charset="UTF-8")
link(href='css/main.css',rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic")
body
h1 UI-elements (Вспомогательные элементы)


+user_badge("Пользователь")

+checkbox("Запомнить меня")

+avatar("img/photo-big.png")

+avatar_small("img/foto-small-2.png")
+input_email_error("Введите email")

+empty_comment_error("Комментарий не может быть пустым.")


+email_busy("Данный email уже занят")

+wrong_email("Неверный email или пароль")





