doctype html

html(lang="ru-RU")
head
meta(charset="UTF-8")
link(href='css/main.css',rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic")
body
h1  UI-elements (Вспомогательные элементы)



include modules/_user_badge

include modules/_checkbox

include modules/_avatar

include modules/_avatar_small

include modules/_input_email_error

include modules/_empty_comment_error

include modules/_email_busy

include modules/_wrong_email
