




.footer
    .container
        .row
            .wind
                p.footer__name Юрий Ключевский
                p Создано
                 i
                 span WebCademy

            .wind
                .wind_menu
                    ul
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Обо мне hhhh
                        li
                            a(href="#") Работы
                        li
                            a(href="#") Блог
                        li
                            a(href="#") Контакты

            .wind
                p.footer_icons
                    a(href="#" target="blank")
                       i(class="fab fa-vk")
                    a(href="#" target="blank")
                        i(class="fab fa-twitter")
                    a(href="#" target="blank")
                        i(class="fab fa-youtube")
                    a(href="#" target="blank")
                        i(class="fab fa-instagram")
                    a(href="#" target="blank")
                        i(class="fab fa-facebook")




