extends layouts/ui-layout.pug

block variables
	- var title ="UI forms"

block content
	.section-ui
		h1.title-2 Элементы формы
	
	.section-ui
		+inputWithLabel('Поле для ввода', 'name', 'Введите имя' )
		
	.section-ui
		+textarea('Описание работы', 'work-description', 'Как создавался проект')

	.section-ui
		.label-title Чекбокс
		+checkbox('Я согласен с условиями', 'terms-agree', 'checked')
		

	.section-ui
		.label-title Радио кнопки 
		+radio('Option 1', 'radio-group', 'checked')
		+radio('Option 2', 'radio-group')

	.section-ui
		+file('Изображение', 'Изображение jpg или png, рекомендуемая ширина 945px и больше, высота от 400px и более, вес до 2Мб.', 'file-2')
		.img-post-uploaded
			img(src='img/blog/img-post-uploaded.jpg')
			+button('Удалить', 'delete', '#', 'fa-angle-right', 'right')
		


block scripts
	script(src="js/custom-file-input.js")
