extends layouts/ui-layout.pug

block variables
    - var title ="UI typography"

block content
    .container.typography
        .pageHeader Типографика
        .row
            .col-sm-4
                .title Заголовки
                h1.heading-1 Заголовок 1
                h2.heading-2 Заголовок 2
                h3.heading-3 Заголовок 3
                h4.heading-4 Заголовок 4
                h5.heading-5 Заголовок 5
                h6.heading-6 Заголовок 6
            .content.col-sm-8
                .title Текст - абзацы, ссылки в тексте
                p.
                    Парк находится в горах #[a(href="#") Сьерра-Невада] на востоке штата Калифорния и 
                    занимает огромную даже для Америки площадь, около 3000 кв. км. 
                    
                p.
                    Центром парка является долина #[a(href="#") Йосемити], 
                    круглый год переполненная туристами, зато в большей части парка никаких 
                    туристов нет. Если вы хотите погулять по территории парка, к вашим услугам 
                    огромная разветвлённая система троп, по которым проложены маршруты 
                    длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно 
                    прилагаются животные и птицы. 
                .title Список
                ul
                    li Первый пункт
                    li Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
                    li Третий пункт