extends layouts/ui-layout.pug

block variables
    - var title ="UI typography"

block content
    .container.typography
        .pageHeader Типографика
        .row
            .col-sm-4
                .title Заголовки
                h1.heading_1 Заголовок 1
                h2.heading_2 Заголовок 2
                h3.heading_3 Заголовок 3
                h4.heading_4 Заголовок 4
                h5.heading_5 Заголовок 5
                h6.heading_6 Заголовок 6
            .content.col-sm-8
                .title Текст - абзацы, ссылки в тексте
                p.
                    Парк находится в горах #[a(href="#") Сьерра-Невада] на востоке штата Калифорния и 
                    занимает огромную даже для Америки площадь, около 3000 кв. км. 
                    #[br]
                    #[br]
                    Центром парка является долина #[a(href="#") Йосемити], 
                    круглый год переполненная туристами, зато в большей части парка никаких 
                    туристов нет. Если вы хотите погулять по территории парка, к вашим услугам 
                    огромная разветвлённая система троп, по которым проложены маршруты 
                    длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно 
                    прилагаются животные и птицы. 
                .title Список
                ul
                    li 
                        span Первый пункт
                    li
                        span. 
                            Второй пункт. Если вы хотите погулять по территории парка,
                            к вашим услугам огромная разветвлённая система троп, по которым 
                            проложены маршруты длительностью от получаса до нескольких дней. 
                    li 
                        span Третий пункт