extends ../layouts/main.pug

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page footer-bottom'

block content
	.container.pt-80
		.row.mb-80
			.col-md-3
				+avatar("../img/photo-big.jpg")
			.col-md-9.user-content
				h1.text-blue Емельян Казаков
				p Я веб разработчик из Казани. Мне 28 лет. <br>Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. <br>Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
				h3 Что я умею
				p Меня привлекет Frontend разработка, это не только моя работа, но и хобби. Также знаком и могу решать не сложные задачи на Backend.
				p Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
				+button('Подробнее', '#')
	.hr-line
	.container.pt-35
		h2.title-1.mb-40 Новые #[a(href="#") работы]
		.row.mb-80
			.col-md-4
				+card-portfolio("../img/portfolio-preview.png", "Верстка Landing Page" ,"#")
			.col-md-4
				+card-portfolio("../img/portfolio-preview.png", "Верстка Landing Page" ,"#")
			.col-md-4
				+card-portfolio("../img/portfolio-preview.png", "Верстка Landing Page" ,"#")
		h2.title-1.mb-40 Новые записи в #[a(href="#") блоге]
		.row.mb-80
			.col-md-4
				+card-post("../img/blog-preview.png", "Поездка в New York пример длинного названия поста" ,"#")
			.col-md-4
				+card-post("../img/blog-preview.png", "Поездка в New York пример длинного названия поста" ,"#")
			.col-md-4
				+card-post("../img/blog-preview.png", "Поездка в New York пример длинного названия поста" ,"#")

		