extends ../layouts/clean.pug

block variables
	- var title = 'UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../sections/ui-nav.pug

	.main-wrapper
		.container.container--left
			h1.title-2 Документация по фреймворку
			p Тут должно быть пару слов о документации к фреймворку.
			p StyleGuide.
			ul
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda recusandae sunt voluptatibus soluta, aut nemo. Necessitatibus corrupti quam, rerum accusantium?	
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda recusandae sunt voluptatibus soluta, aut nemo. Necessitatibus corrupti quam, rerum accusantium?	
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda recusandae sunt voluptatibus soluta, aut nemo. Necessitatibus corrupti quam, rerum accusantium?	
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda recusandae sunt voluptatibus soluta, aut nemo. Necessitatibus corrupti quam, rerum accusantium?	
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda recusandae sunt voluptatibus soluta, aut nemo. Necessitatibus corrupti quam, rerum accusantium?	
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda recusandae sunt voluptatibus soluta, aut nemo. Necessitatibus corrupti quam, rerum accusantium?	
				

			