extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Пост в блоге - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';
	- var post_title = "Национальный парк Йосемити";

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Пост в блоге
			.section-ui
				.title-medium Пост в блоге - Полный
				
			article.blog-post
				h1.title-1 #{post_title}
				.blog-post__links
					+link('Емельян Казаков', '#')(class="blog-post__link blog-post__link--name")
					+link('Путешествия', '#')(class="blog-post__link blog-post__link--event")
					span(class="blog-post__link blog-post__link--date") 16 марта 2017
					+link('2 комментария', '#')(class="blog-post__link blog-post__link--comments")
				.blog-post__image(style="background-image: url('../img/yosemity.jpg');")
				.blog-post__text.user-content
					p Парк находится в горах #[a(href="#") Сьерра-Невада] на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.
					p Центром парка является долина #[a(href="#") Йосемити], круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.
			
			.section-ui
				pre.
					article.blog-post	
						h1.title-1 #{post_title}
						.blog-post__links
							+link('Емельян Казаков', '#')(class="blog-post__link blog-post__link--name")
							+link('Путешествия', '#')(class="blog-post__link blog-post__link--event")
							span(class="blog-post__link blog-post__link--date") 16 марта 2017
							+link('2 комментария', '#')(class="blog-post__link blog-post__link--comments")
						.blog-post__image(style="background-image: url('../img/yosemity.jpg');")
						.blog-post__text.user-content
							p Парк находится в горах #[a(href="#") Сьерра-Невада] на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.
							p Центром парка является долина #[a(href="#") Йосемити], круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.

