extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Комментарии - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title.mb-0 Комментарии

			.section-ui
				.title-section 2 комментария

			.section-ui
				.comment
					+avatar-small('../img/avatar-2.jpg')
					.comment__content
						.comment__head
							span.comment__name Джон До
							span.comment__date #[i.far.fa-clock] 05 Мая 2017 года в 15:45
						.comment__text Замечательный парк, обязательно отправлюсь туда этим летом.
				.comment
					+avatar-small('../img/avatar-3.jpg')
					.comment__content
						.comment__head
							span.comment__name Джон До
							span.comment__date #[i.far.fa-clock] 05 Мая 2017 года в 15:45
						.comment__text Замечательный парк, обязательно отправлюсь туда этим летом.
				pre.
					.comment
						+avatar-small('../img/avatar-2.jpg')
						.comment__content
							.comment__head
								span.comment__name Джон До
								span.comment__date # [i.far.fa-clock] 05 Мая 2017 года в 15:45
							.comment__text Замечательный парк, обязательно отправлюсь туда этим летом.
